$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background: #555555;
$white: #FFFFFF;
$blue: #1e6a7a;

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

@mixin color ($color, $backgroundcolor, $font){
      color: $color;
      background-image: url($backgroundcolor);
      font: $font;
}

@mixin vertical-align {
  position: relative;
  top: 50%; 
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin background2($color){
  background:{
    color: $color;

  }
}

h1{
  margin: 5%;
  color: $white;
  text-align: center;
  .index{
    text-align: center;
  }
}

.accordion{
  width: 80%;
  text-align: center;
  margin: 10%;
  @include background2($blue);

  a{
    font-size: 12pt;
    color: $white;
  }
  
  .accordion-content{
    p{
      color: $white;
    }
    
  }
}

#types{

  @include background2($blue);
}


h2{

@include color($white,"../img/Slider2.jpg", Helvetica);

}
body {
  font: 100% $font-stack;
}

p{
	color: #225533;

}

body {
  background:#333;
}

.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff;
  
  p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem;
    
    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold;
    }
  }
  
  .sign {
    background:#fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto;
    
    h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 2rem;
    }
  }
}






.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "-";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}

table{

  text-align: center;

  th {
    margin: 20px;
    padding: 5px;
    list-style: georgian;
  }

  td { 

    margin: 20px;
    padding: 5px;

   }

   img{

    width: 150px;
   }
}


nav{
  margin:10px;
  background-image: "Slider2.jpg";

  ul{

    color: $white;

  }

}


.media-object{
  margin: 0 auto;
  width: 500px;
  img{

    width: 500px;
   }

}

#rein {
  display: none;

 

  padding-bottom: 29.34%;

  iframe{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

    }

}